# Secrets and environment variables
email_config.json
api_key.json
.env

# Python virtual environment
env/

# Python bytecode cache
__pycache__/

#summarize is not used since it needs LLM which not free to use.
summarize_news.py